In [1]:
import pandas as pd

In [2]:
weather_data = [('1/1/2017', 32, 6, 'Rain'),
                ('4/4/2017', 39, 2, 'Rain'),
                ('6/3/2017', 33, 7, 'Snow'),
                ('3/12/2017', 28, 6, 'Sunny')
               ]
df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

         day  temperature  windspeed  event
0   1/1/2017           32          6   Rain
1   4/4/2017           39          2   Rain
2   6/3/2017           33          7   Snow
3  3/12/2017           28          6  Sunny

In [4]:
df.shape

(4, 4)

In [5]:
df.head() # prints first 5 rows

         day  temperature  windspeed  event
0   1/1/2017           32          6   Rain
1   4/4/2017           39          2   Rain
2   6/3/2017           33          7   Snow
3  3/12/2017           28          6  Sunny

In [6]:
df.tail() # prints last 5 rows

         day  temperature  windspeed  event
0   1/1/2017           32          6   Rain
1   4/4/2017           39          2   Rain
2   6/3/2017           33          7   Snow
3  3/12/2017           28          6  Sunny

In [9]:
df[1:3]  # slicing from 1 to 3-1

        day  temperature  windspeed event
1  4/4/2017           39          2  Rain
2  6/3/2017           33          7  Snow

In [11]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [12]:
 df.day # prints specific column same as df['day']

0     1/1/2017
1     4/4/2017
2     6/3/2017
3    3/12/2017
Name: day, dtype: object

In [13]:
df['day']

0     1/1/2017
1     4/4/2017
2     6/3/2017
3    3/12/2017
Name: day, dtype: object

In [14]:
df[['day', 'event']]

         day  event
0   1/1/2017   Rain
1   4/4/2017   Rain
2   6/3/2017   Snow
3  3/12/2017  Sunny

In [15]:
df['temperature'].max()

39

In [16]:
df['temperature'].min()

28

In [18]:
df['temperature'].describe()

count     4.000000
mean     33.000000
std       4.546061
min      28.000000
25%      31.000000
50%      32.500000
75%      34.500000
max      39.000000
Name: temperature, dtype: float64

In [24]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed event
1  4/4/2017           39          2  Rain

In [25]:
df.day[df.temperature == df.temperature.max()]

1    4/4/2017
Name: day, dtype: object